.color-picker {
	color: #7db36a;
}

$font-color: #262626;
$font-color-light: #b4b4b4;
$background-color: #d1d1d1;
$focus: #dbe4c6;
$positive: #81d064;
$warning: #ff8888;
$border-radius: 2px;

@font-face {
    font-family: 'proximanova-light';
    src: url('../webfonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../webfonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-lightit';
    src: url('../webfonts/proximanova-lightit-webfont.woff2') format('woff2'),
         url('../webfonts/proximanova-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url('../webfonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../webfonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanovacond-black';
    src: url('../webfonts/proximanovacond-black-webfont.woff2') format('woff2'),
         url('../webfonts/proximanovacond-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EcoCoding';
    src: url('../webfonts/EcoCoding-webfont.woff2') format('woff2'),
         url('../webfonts/EcoCoding-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}