---
layout: default
---
{% include btn-top.html %}

	<header role="banner" class="assignments">
    
	    <h1>{{ page.title }}</h1>
	    
	    <div class="assignment-meta-info">
		    <!--<span class="assignment-course-number">Art {{ page.categories | prepend: 'art' | slice: -5, 3 }}</span>-->
		    <ul>
			    {% if page.due-date %}
			    <li>
				    Due:
					{% capture currentDate %}
				    		{{ "now" | date: "%Y-%m-%d"}}
				    {% endcapture %}	
				    {% capture dueDate %}
				    		{{ page.due-date | date: "%Y-%m-%d"}}
				    {% endcapture %}						
					{% if dueDate >= currentDate %}
						<span class="green">
					{% else %}
						<span class="red">
					{% endif %}
					{{ page.due-date | date: "%a, %b %d, %Y" }}</span>
				</li>
				{% endif %}
				
				{% if page.time %}
				<li>
					Est. Time:
					{% capture currentDate %}
				    		{{ "now" | date: "%Y-%m-%d"}}
				    {% endcapture %}	
				    {% capture dueDate %}
				    		{{ page.due-date | date: "%Y-%m-%d"}}
				    {% endcapture %}						
					{% if dueDate >= currentDate %}
						<span class="green">
					{% else %}
						<span class="red">
					{% endif %}
					{{ page.time }}</span>
				</li>
				{% endif %}
				
				{% if page.points %}
				<li>
					Points:
					{% capture currentDate %}
				    		{{ "now" | date: "%Y-%m-%d"}}
				    {% endcapture %}	
				    {% capture dueDate %}
				    		{{ page.due-date | date: "%Y-%m-%d"}}
				    {% endcapture %}						
					{% if dueDate >= currentDate %}
						<span class="green">
					{% else %}
						<span class="red">
					{% endif %}
					{{ page.points }}</span>
				</li>
				{% endif %}
				
				{% if page.upload-files %}
					{% capture currentDate %}
				    		{{ "now" | date: "%Y-%m-%d"}}
				    {% endcapture %}	
				    {% capture dueDate %}
				    		{{ page.due-date | date: "%Y-%m-%d"}}
				    {% endcapture %}						
					{% if dueDate >= currentDate %}
						<li><a href="{{ page.upload-files }}">Upload Assignment</a></li>
					{% endif %}
				{% endif %}
				
				{% if page.assets %}
					<li><a href="{{ page.assets }}">Download Assets</a></li>
				{% endif %}
		    </ul>
	    </div>
	    
	</header>
	
    <div>
    		{{ content }}
    </div>

